.header{
    display: flex;
    background: rgba(249, 249, 249, 0.94);
    height: 70px;
    align-items: center;

}

.menu{
    display: flex;
    align-items: center;
    width: 1376px;
    margin: 0px auto;
}

.collection-button{
    margin-left: 32px;
}

.add-button{
    margin-left: 26px;
}

.app-logo{
    margin: 0 auto;

    width: 47px;
    height: 18px;
}

.search-input{
    display: flex;
    align-items: center;
    width: 80px;
    margin-top: 0px;
    border: 0px;
    background: rgba(249, 249, 249, 0.94);
    color: black;

}

.search-input::placeholder{
    color: #000000;
}

.image-profile{
    margin-left: 31px;
    margin-right: 28px;
}

span{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.336px;
}

.collection-button{
    display: flex;
    align-items: center;
    background: #002DFF;
    border-radius: 21.5px;
    width: 151px;
    height: 38px;
}

.collection-button span{
    color: white;
    margin-left: 12px;

}

.collection-button img{
    padding-left: 8px;
    padding-top: 7px;
    padding-bottom: 7px;

}

.add-button{
    display: flex;
    align-items: center;

}

.add-button span{
    margin-left: 12px;
    color: #000;

}

.search-and-profile{
    display: flex;
    align-items: center;
}
