.registration-form{
    width: 375px;
    margin: 0px auto;
    margin-top: 70px;
}

input{
    width: 375px;
    height: 60px;
    text-align: center;
    color: rgba(60, 60, 67, 0.3);
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    border: none;
    caret-color: #002DFF;
    border-bottom: 1px solid #7d7d7d;
    background-color: transparent;
    outline: none;
}

.reset{
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    color: #666;
    border: 0;
    display: none;
    padding: 0 10px;
    border-radius: 50%;
    background-color: #fff;
    transition: background 200ms;
    outline: none;
}

.reset:hover{
    background-color: rgba(60, 60, 67, 0.6);
}

.prompt{
    margin: 0px auto;
    margin-top: 30px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: rgba(60, 60, 67, 0.6);
    display: flex;
    align-items: center;
    width: 300px;
}

a{
    margin-left: 5px;
    color: #002DFF;
    text-decoration: none;
}

button{
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    border: 3px solid #002DFF;
    border-radius: 25px;
    background: white;
    width: 149px;
    height: 50px;
    margin-top: 70px;
    color: #002DFF;
    cursor: pointer;
}

.button:hover{
    background: #002DFF;
    color: white;
}

.button:disabled{
    border: 3px solid rgba(116, 116, 128, 0.08);
    background: rgba(116, 116, 128, 0.08);
    color: rgba(60, 60, 67, 0.3);
    cursor: none;
}